@tailwind base;
@tailwind components;
@tailwind utilities;
#index-body {
  @apply relative h-screen overflow-hidden;
  background: linear-gradient(
    to bottom,
    rgba(48, 96, 255, 1) 30%,
    rgba(48, 96, 255, 0.1) 40%,
    rgba(255, 255, 255, 1) 60%
  );
}

/* Circle di pojok kanan atas */
.circle-decoration-right {
  @apply absolute rounded-full;
  top: -64px;
  right: -64px;
  width: 200px;
  height: 200px;
  background-color: rgba(31, 80, 245, 0.6);
  z-index: 0;
  filter: blur(1px); /* opsional: buat tambah halus */
}

.circle-decoration-left {
  @apply absolute rounded-full;
  top: 15%;
  left: -92px;
  width: 200px;
  /* background-color: rgba(31, 80, 245, 0.6); */
  height: 200px;
  background: linear-gradient(
    to bottom,
    rgba(31, 80, 245, 0.6) 10%,
    rgba(48, 96, 255, 0.1) 60%,
    rgba(255, 255, 255, 1) 100%
  );
  transform: translateY(-50%);
  filter: blur(1px);
}
